.div1{
    border:2px 20px 24px 3px;
    border-style: dotted;
    border-color: red;
    margin:10px 50px 20px 0;
}
.div2{
    border:20px 20px 20px 20px;
    border-radius: 5px;
    border-style: dashed;
    border-color: blue;
    margin: auto;
    border-collapse: collapse;
}
